@model TestApp.Models.EmployeeViewModel

@{
      ViewData["Title"] = "Create Employee";
       var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(errorMessage))
{     
        <div class="alert alert-danger">
            <strong>Error!</strong>@errorMessage
        </div>
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
}

<form action="Create" method="post">
            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" asp-for="Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label class="form-label">Gross Salary</label>
                <div class="input-group">
                    <span class ="input-group-text">RSD</span>
                    <input type="text" class="form-control" asp-for="GrossSalary" />
                    <span asp-validation-for="GrossSalary" class="text-danger"></span>
                </div>
            </div>
             <div class="mb-3">
                <label class="form-label">Position</label>
                <input type="text" class="form-control" asp-for="Position" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="d-grid">
                <button type="sumbit" class="btn btn-primary">Submit</button>
            </div>
</form>